.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.nav
{
    position:fixed;
    width:100%;
    height:50px;
    background-color:white;
    z-index:1;
}

.jumbotron {
  background-image:url("http://rxrwng.appspot.com/www.hiveworkshop.com/forums/resource_images/1/sc2res_79/tn_files/Space.tga.jpg");
  height: 500px;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron h2 {
    color: #fff;
    font-size: 36px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.computer-stuff{
   background-color:black;
   height:500px;
   background-size:100%;
   -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
animation: myfirst 5s;
}
.computer-stuff .container{
      position: relative;
      top:100px;
}
.computer-stuff h1{
    font-family: 'Andale Mono';
    font-size:48px;
    font-weight:bold;
    color:#00ff21;
    text-align:center;
}

.computer-stuff p{
    font-family:'Agency FB';
    color:#fff;
    font-size: 28px;
    text-align:center;
}

.computer-stuff h2{
    font-family: Andy;
    color:#fff;
    text-align:center;
}

.computer-stuff ul{
    font-family:'Agency FB';
    color:#fff;
    font-size: 28px;
    text-align:center;
}
.computer-stuff li{
    text-align:center;
}

.science{
   background-color:Red;
   height:500px;
   background-size:100%;
}
.science .container{
      position: relative;
      top:100px;
}
.science h1{
    font-family: Batang;
    font-size:48px;
    font-weight:bold;
    color:#ffd800;
    text-align:center;
}

.science h2{
    font-family: Andy;
    color:#fff;
    text-align:center;
}

.science p{
    font-family:'Agency FB';
    color:#fff;
    font-size: 28px;
    text-align:center;
}
.genius{
   background-color:gray;
   height:500px;
   background-size:100%;
   -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
animation: myfirst 5s;
}
.genius .container{
      position: relative;
      top:100px;
}
.genius h1{
    font-family: Times;
    font-size:48px;
    font-weight:bold;
    color:#5a5a5a;
    text-align:center;
}

.genius h2{
    font-family: Andy;
    color:#fff;
    text-align:center;
}

.genius p{
    font-family:'Agency FB';
    color:#fff;
    font-size: 28px;
    text-align:center;
}

.genius ul{
    font-family:'Agency FB';
    color:#fff;
    font-size: 28px;
    text-align:center;
}
.genius li{
    text-align:center;
}

.Freshman{
   background-color:black;
   height:500px;
   background-size:100%;
   }
.Freshman .container{
      position: relative;
      top:100px;
}
.Freshman h1{
    font-family: Andy;
    font-size:48px;
    font-weight:bold;
    color:#fff;
    text-align:center;
}

.Freshman h2{
    font-family: Andy;
    color:#fff;
    text-align:center;
}

.Freshman p{
    font-family:'Agency FB';
    color:#fff;
    font-size: 28px;
    text-align:center;
}
